<div class="row">
  <div class="card-wrapper col-md-6 wow fadeInLeft animated">
    <div class="pricing card card-5">
      <div class="w-box popular">
        <div class="plan-header text-center">
          <div class="popular-tag">Help finding apartments</div>
          <h2 class="plan-title"></h2>
          <h3 class="price-tag">80$</h3>
          <!-- <small>Get Started - free forever!</small> -->
        </div>
        <ul>
          <li><i class="fa fa-rocket"></i> Providing market analise</li>
          <li><i class="fa fa-tasks"></i> Finding list of apartments</li>
          <li><i class="fa fa-rocket"></i> Scheduling 1 day of open house</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-wrapper col-md-6 wow fadeInRight animated">
    <div class="pricing card card-5">
      <div class="w-box popular">
        <div class="plan-header text-center">
          <div class="popular-tag">Help finding apartments and roommates</div>
          <h2 class="plan-title"></h2>
          <h3 class="price-tag">150$</h3>
          <!-- <small>Get Started - free forever!</small> -->
        </div>
        <ul>
          <li><i class="fa fa-rocket"></i> Providing market analise</li>
          <li><i class="fa fa-tasks"></i> Finding list of apartments</li>
          <li><i class="fa fa-rocket"></i> Scheduling 3 days of open house</li>
          <li><i class="fa fa-rocket"></i> Finding possible roommates</li>
          <li><i class="fa fa-tachometer"></i> Scheduling in person meeting with possible roommates</li>
        </ul>
      </div>
    </div>
  </div>

</div>