
<div class="row">
  <%= react_component("Pricing", {title: "Helping finding apartments", price: 80, bulletPoints: [
      'meet our agent face-to-face to discuss your housing needs',
      'we build a list of apartments that suit you according to your preferences',
      '3 apartment viewings scheduled for you with our in-person assistance'
  ]}) %>

  <%= react_component("Pricing", {title: "Helping finding apartments and roommates", price: 150, bulletPoints: [
      'meet our agent face-to-face to discuss your housing needs',
      'we build a list of apartments that suit you according to your preferences',
      '5 apartment viewings scheduled for you with our in-person assistance',
      'we pick potential roommates for you and schedule a meeting with them'
  ]}) %>
</div>
