// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//


div.featured-work{
  padding-top: 40px;
}

a {
  color: #7cc576;
  /* First we need to help some browsers along for this to work.
   Just because a vendor prefix is there, doesn't mean it will
   work in a browser made by that vendor either, it's just for
   future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a:hover {
  color: #0e060c;
}

//section#service div.row div.wow{
//  padding-top: 100px;
//}

//section.alabaster figure{
//  padding-top: 40px;
//}